@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ece7e1;
}

* {
  box-sizing: border-box;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}